
:root{
    --tamanho-princial: 50px;
    --fonte-estilo:  'Fasthand';
    --dark-blue: hsl(249, 10%, 26%);
    --blue: hsl(248, 32%, 49%);
    --verde: hsl(154, 59%, 51%);
    --red:hsl(0, 100%, 74%);
}
.app{
    background: url(../images/bg-intro-desktop.png);
    background-color: var(--red) ;
    display: grid;
    grid-template-areas:
        "conteudo"
        "rodape"
    ;
    grid-template-columns: auto;
    grid-template-rows: 100vh auto;

}
@media(max-width: 768px){
    .app{
        background: url('../images/bg-intro-mobile.png');
        background-color: var(--red);
    }

}