
.paginaInicial__titulo{
    font-size: var(--tamanho-princial);
    font-family: var(--fonte-estilo);
    color:#fdfdfd;
}
@media(max-width: 375px){
    .paginaInicial__titulo{
            text-align:center;
            font-size: 2rem;
            padding-bottom: 20px;
            padding-top: 100px;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
    }

}