.PaginaInicial__descricao{
    padding-top: 20px;
    color: #fdfdfd;
    line-height: 20px;
    font-size: 16px;
    font-family: var(--fonte-estilo);
}
@media (max-width: 375px){
    .PaginaInicial__descricao{
        text-align: center;
        padding-bottom: 80px;
        width: 80%;
        margin-left: 10%;
}
}